</main>
<footer>
  © <%= new Date().getFullYear() %> Cây Cảnh Shop
</footer>
<%- include('chatbot') %>
<link rel="stylesheet" href="/css/chatbot.css">
<script src="/js/chatbot.js"></script>
</body>
</html>
