version: "3.9"

services:
  web:
    build: .
    command: npm start
    ports:
      - "4000:4000"
    env_file:
      - .env.docker
    depends_on:
      - mongo
    restart: unless-stopped
    volumes:
      - ./public/uploads:/app/public/uploads

  mongo:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
